@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --bg: #141414;
  --font-color: #fff;
  --tansition-smooth: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
body {
  font-family: "Poppins";
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  background: var(--bg);
  color: var(--font-color);
}
button {
  all: unset;
  border: 1px solid;
  padding: 6px 14px !important;
  border-radius: 4px;
  margin: 3px 2px;
  transition: var(--tansition-smooth);
  &:hover {
    cursor: pointer;
    background: var(--font-color);
    color: var(--bg);
  }
}


